@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Bacasime+Antique&family=Bitter:ital@1&family=Ysabeau+SC&display=swap');
  
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Bacasime Antique', serif; 
    background-color:rgb(2,21,21);
  } 
  /* ------------------------------Header */
  header{
    background-color: rgb(2,21,21);
  }
  
  li{
    list-style: none;
    font-family: 'Bacasime Antique, serif';
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  
  .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
  }
  
  .logo{
    font-size: 2rem;
    font-family: 'Bacasime Antique, serif';
  }

  .nav-menu a:hover{
    color: #fff;
    padding: 10px 10px;
    border: 1.5px solid ;
  }
  .active {
    padding: 10px 10px;
    border:  1.5px solid ;
  }
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

   /* ------------------------------Home page */

   #portrait {
    width: 100%;
    vertical-align: top;
    background-repeat: no-repeat;
    background: center center;
    background-size: cover;
  }
  #cover-text { 
    color:#ffff;
    font-family: 'Bacasime Antique', serif;
    font-size: 150%;
    letter-spacing: 0px;
    text-transform:uppercase;
  
    bottom: 10px;
    right: 100px;
    position: absolute;
    
    animation-name: name-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  
  }
  
  @keyframes name-zoom {
    from {
      transform: scale(0.9);
    }
    to {
      transform: scale(1.4);
    }
  }

  .content{
    font-family: 'Bitter', serif;
   
  }
   .cust-name{
    text-align: right;
    font-family: 'Ysabeau SC', sans-serif;
    color: #fff;
    font-weight: 500;
    padding-right: 15px;
   }

   #feedback{
    padding: 15px ;
    border-spacing: 2px;
    color:black;
    font-weight: 200;
    background-color: #cac7c7aa;
    margin: 20px;
  }

  .feedback-line {
    padding: 10px;
    text-align: left;
    border-spacing: 2px;
  }

  /* ------------------------------Footer */
  footer{
    margin: 1em;
    justify-content: space-between; 
  }
  
  #social-links{
    text-align: center;
  }

  #social-links li {
    display: inline;  
  }

  #social-links i {
    font-size: 150%;
    margin: 1%;
    color: #fff;
  }


/* ------------------------------ Media queries 820 */
 @media screen and (min-width: 768px) {
  #portrait{
    width: 100%;
    height: auto;
  }

  .sec-display {
    position: relative;
  }

   #cover-text {
      position: absolute;
      /* font-size: 1.5rem; */
      bottom: 10px;
      right: 100px;  
  }

 }

/* ------------------------------ Media queries 460 */
  @media screen and (max-width: 460px) {
    #portrait{
      width: 100%;
      height: auto;
    }
    .sec-display {
      position: relative;
    }
     #cover-text {
        position: absolute;
        font-size: 60%;
        bottom: 10px;
        right: 50px;  
      
    }
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    /* display: block; */
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:rgb(2,21,21) ;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    
  }
  
  .nav-item{
  border-top: 1px solid white;
  width: 100%;
  padding: 10px 0 10px 0;
  }

  .nav-menu.active{
  left: 0;
  }
  }
  